@mixin h1{
    font-size: 4rem;
    line-height: 1.23em;
    font-weight: 700;
}

@mixin h2{
    font-size: 3rem;
    line-height: 1.23em;
    font-weight: 700;
}

@mixin h3{
    font-size: 2.25rem;
    line-height: 1.23em;
    font-weight: 700;
}

@mixin h4{
    font-size: 1.875rem;
    line-height: 1.23em;
    font-weight: 600;
}

@mixin h5{
    font-size: 1.5rem;
    line-height: 1.23em;
    font-weight: 600;
}

@mixin h6{
    font-size: 1.25rem;
    line-height: 1.8em;
    font-weight: 600;
}

@mixin text-sm{
    font-size: 1.125rem;
    line-height: 1.8em;
}

@mixin text-xs{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8em;
}

@mixin text-xxs{
    font-weight: 400;
    font-size: 0.94rem;
    line-height: 1.8em;
}

@mixin text-3xs{
    font-weight: 400;
    font-size: 0.84rem;
    line-height: 1.8em;
}

h1 {
    @include h1;
    @include respond-to('mobile') {
        @include h3;
    }
}

h2{
    @include h2;
    @include respond-to('mobile') {
        @include h4;
    }
}

h3 {
    @include h3;
    @include respond-to('mobile') {
        @include h5;
    }
}

h4{
    @include h4;
    @include respond-to('mobile') {
        @include h6;
    }
}

h5 {
    @include h5;
    @include respond-to('mobile') {
        @include text-sm;
    }
}

h6 {
    @include h6;
    @include respond-to('mobile') {
        @include text-xs;
    }
}


p {
    @include text-sm;
    @include respond-to('mobile') {
        @include text-xs;
    }
}

.font-sm{
    @include text-sm;
    @include respond-to('mobile') {
        @include text-xs;
    }
}

.font-xs{
    @include text-xs;
    @include respond-to('mobile') {
        @include text-xxs;
    }
}

.font-xxs{
    @include text-xxs;
    @include respond-to('mobile') {
        @include text-3xs;
    }
}